*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    --cor-texto-1: #3d3d3d;
    --cor-texto-2: white;

}

html, body{

    height: 100%;
}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

header > h1 {

    margin-left: 20px;
}

header > nav > ul {

    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

header > nav > ul > li > a{

    text-decoration: none;
    padding: 10px;
}

.barra_pesquisa{

    outline: none;
}

main{

    width: 100%;
}

section.inicial {

    width: 100%;
    min-height: 500px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

section.inicial > h2{

    margin-left: 40px;
}

section.inicial > button{

    margin-left: 40px;
    height: 45px;
    width: 100px;
    margin-top: 20px;
}

section.conteudo{

    width: 100%;
    height: auto;
    border: 1px solid blue;
}

section.conteudo article{

    width: 100%;
    height: 250px;
    border: 1px solid red;
    margin: 10px 0px;
}
