*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    --cor-texto-1: #3d3d3d;
    --cor-texto-2: white;
    --cor-fundo-escuro: #141414;

}

html, body{

    height: 100%;
    background-color: var(--cor-fundo-escuro);
}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo-escuro);
}

header > h1 {

    margin-left: 20px;
    color: var(--cor-texto-2);
}

header > nav > ul {

    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}

header > nav > ul > li > a{

    text-decoration: none;
    padding: 10px;
    color: var(--cor-texto-2);
    font-size: 18px;
}

.barra_pesquisa{

    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid white;
}

main{

    width: 100%;
}

section.inicial {

    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url("../imagens/socios_devo_bitcoin.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
}

section.inicial > h2{

    margin-left: 40px;
    color: var(--cor-texto-2);
}

section.inicial > button{

    margin-left: 40px;
    height: 45px;
    width: 100px;
    margin-top: 300px;
    color: var(--cor-texto-2);
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;

}

section.conteudo{

    width: 100%;
    height: auto;
    background-color: var(--cor-fundo-escuro);
    padding: 15px 0px;
}

section.conteudo > article{

    width: 100%;
    height: 250px;
    margin: 10px 0px;
}

section.conteudo > article > h3{

    color: var(--cor-texto-2);
}
article > article{

    width: 100%;
    height: 200px;
    border: 1px solid white;
    margin: 10px 0px;
}