*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:'Open Sans';

    --cor-texto-1: #3d3d3d;
    --cor-texto-2: white;
    --cor-texto-3: #e5e5e5;
    --cor-fundo-escuro: #141414;
    --vermelho-claro: #E50914;
    --vermelho--escuro: #B20710;
}

html, body{

    height: 100%;
    background-color: var(--cor-fundo-escuro);
}

header{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10;
}

header > h1 {

    margin-left: 20px;
    color: var(--vermelho-claro);
    cursor: default;
}

header > nav > ul {

    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
}

header > nav > ul > li > a{

    padding: 10px;
    color: var(--cor-texto-2);
    font-size: 18px;
    position: relative;
}

header > nav > ul > li > a::after {

    content: " ";
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    transition: all 150ms ease;
    background: white;
}

header > nav > ul > li > a:hover::after {

    left: 0%;
    width: 100%;
}

main{

    width: 100%;
    overflow-x: hidden;
}

section.inicial {

    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url("../imagens/ciencia/gabriel_pato.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

section.inicial > h2{

    margin-top: 15%;
    margin-left: 40px;
    font-style: normal;
    font-size: 35px;
    color: var(--cor-texto-2);
}

section.inicial > p{

    margin-top: 10px;
    color: var(--cor-texto-2);
    margin-left: 40px;
}

section.inicial > button{

    margin-left: 40px;
    height: 50px;
    width: 120px;
    margin-top: 20px;
    color: var(--cor-texto-2);
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

section.inicial > button:hover{

    color: var(--cor-texto-1);
    background-color: white;
}

section.conteudo{

    width: 100%;
    padding: 15px 0px;
    margin-top: -100px;
    transition: .25s ease;
}

section.conteudo > article{

    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.conteudo > article > h3{

    margin-left: 30px;
    font-size: 20px;
    color: var(--cor-texto-3);
}

article > article{

    width: 100%;
    min-height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

article > button{

    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    height: 65px;
    width: 60px;
    right: 0;
    position: absolute;
    text-align: center;
    transition: .10s;
    font-size: 37px;
    z-index: 1;
}

article > button:hover{

    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 43px;
}

article > button > i{

    color: var(--cor-texto-3);
}

article.hidden{

    display: none;
}

figure img{

    width: 300px;
    cursor: pointer;
    transition: .25s;
    margin-top: 10px;
}

figure img:hover{

    width: 330px;
}

section.criadores{

    width: 100%;
    margin-top: 30px;
}

section.criadores > h3{

    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--cor-texto-3);
}

section.criadores > a > img{

    width: 100%;
    cursor: pointer;
}

footer{

    margin-top: 75px;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer > div > a > i{

    padding: 5px;
    font-size: 40px;
    color: var(--cor-texto-2);
    color: grey;
    transition: .10s;
}

footer > div > a > i:hover{

    color: var(--cor-texto-3);
}

.fa-github{

    margin-left: 10px;
}

button > .fa-chevron-up{

    display: none;
}

footer > p{

    color: grey;
    margin-top: 10px;
    font-size: 17px;
    cursor: default;
}

/* -- -- RESPONSIVO -- -- */

@media (max-width: 1100px){

    section.inicial{

        height: 550px;
    }
}

@media (max-width: 980px){

    section.inicial{

        height: 500px;
    }
    section.conteudo > article{

        justify-content: center;
        align-items: center;
    }

    article > article{
    
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    figure, figure a{

        display: flex;
        align-items: center;
        justify-content: center;
    }
    figure img{

        width: 80%;
    }
    figure img:hover{

        width: 85%;
    }
}
@media (max-width: 870px){

    section.inicial{

        height: 450px;
    }
    section.inicial > button{

        height: 40px;
        width: 110px;
        font-size: 17px;
    }
    section.inicial > h2{

        font-size: 30px;
    }
    section.inicial > p{

        font-size: 15px;
    }
    section.conteudo{

        margin-top: -80px;
    }

}
@media (max-width: 770px){

    section.inicial{

        height: 400px;
    }
}

@media (max-width: 680px){

    section.inicial{
    
        height: 370px;
    }
}

@media (max-width: 580px){

    section.inicial{
    
        height: 320px;
    }
    section.inicial > button{

        height: 30px;
        width: 100px;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 10px;
    }
    section.inicial > h2{

        font-size: 25px;
        margin-top: 7%;
        margin-left: 20px;
    }
    section.inicial > p{

        font-size: 13px;
        margin-left: 20px;
        margin-top: 0px;
    }
    section.conteudo{

        margin-top: -100px;
    }
    section.conteudo > article > h3{

        font-size: 15px;
        margin-left: 20px;
    }
}
@media (max-width: 480px){

    section.inicial{
    
        height: 250px;
    }
    section.conteudo{

        margin-top: -64px;
    }
    section.inicial > h2{

        font-size: 20px;
    }
    section.inicial > p{

        font-size: 12px;
    }
}